
body {
  background-image: url("../img/sovietflag.jfif");
  background-color: #cccccc;
}

* {
  font-family: times new roman ms;
}

#textBox {
  border: 2px solid black;
  padding: 3px;
  color: black
}

#titleBox {
  border: 2px solid #000000;
  color: yellow;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 1% 37%
}
