body {
  background-color: #000000;
  color: #ffffff;
}

div {
  border: 2px solid #ffffff
}

#headerBox {
  color: #ffffff;
  font-size: 56px;
  text-align: center;
  margin: 0px 18% 30px 18%;
  padding: 5px 0px
}

.linkBox {
  color: #ffffff;
  font-size: 24px;
  padding: 5px 20px;
  margin: 10px auto;
}

.blogBox {
  color: #ffffff;
  font-size: 22px;
  margin: 5% 18%;
  padding: 20px 15px;
}

#contentBox {
  border: 0px
}

#menuBox {
  display: flex;
  justify-content: space-around;
  margin: auto 30% 100px 30%
}

a:link, a:visited {
  color: #22ecf0
}

a:hover {
  color: #ffffff
}
