body {
  background-color: #000000;
  color: #ffffff;
}

div {
  border: 2px solid #ffffff;

}

#parentBox {
  border: 0px;
}

#headerBox {
  text-align: center;
  font-size: 45px;
  margin: 20px 5%;
  text-shadow: 2px 2px #999999;
}

#menuBox {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  font-size: 25px;
  margin: 2% 15%;
}

.detailBox {
  padding: 5px;
}

#paragraphBox {
  margin: 0px 7%;
  display: flex;
  justify-content: center;
  padding-left: 25px;
}

#navparentBox {
  display: flex;
  justify-content: space-around;
  margin: 0px 45%;
  margin-top:2%;
}

.navBox {
  padding: 5px;
  margin: 10px;
}

#imgBox {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  float:right;
}

a:link, a:visited {
  color: #ffffff;
}

a:hover {
  color: #666666
}
